* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  min-height: 100vh;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}